.bills-container {
  padding: 2rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  max-width: 100%;

  @media (max-width: 768px) {
    padding: 0.5rem;
    max-height: 100%;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;

  h3 {
    margin: 0;
    font-size: 1.5rem;
    color: #333;
  }

  .add-btn {
    background-color: #2c3e50;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .add-btn:hover {
    background-color: #1a242f;
  }
}

.table-container {
  max-height: 75vh;
  margin-top: 1rem;
  overflow: auto;
}

.scrollable-body {
  max-height: 60vh;
  overflow-y: auto;
  overflow-x: hidden;  

  @media (max-width: 768px) {
    font-size: 0.85rem;
    overflow: auto;
  }

  table {
    width: 100%;
    table-layout: auto;

    th:nth-child(1),
    td:nth-child(1) {
      width: 20%;
    }

    // Title
    th:nth-child(2),
    td:nth-child(2) {
      width: 15%;
    }

    // Amount
    th:nth-child(3),
    td:nth-child(3) {
      width: 10%;
    }

    // Paid
    th:nth-child(4),
    td:nth-child(4) {
      width: 20%;
    }

    // Category
    th:nth-child(5),
    td:nth-child(5) {
      width: 17%;
    }

    // Due Date
    th:nth-child(6),
    td:nth-child(6) {
      width: 18%;
    }

    // Date Created

    tr:hover {
      background-color: #f5f5f5;
      cursor: pointer;
    }
  }

  td {
    border-bottom: 1px solid #ddd;
  }
}

.bills-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.95rem;
  table-layout: auto;

  .clickable-row {
    cursor: pointer;
    transition: background-color 0.2s;
    
    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }
    
    &:active {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  th:nth-child(1),
  td:nth-child(1) {
    width: 20%;
  }

  // Title
  th:nth-child(2),
  td:nth-child(2) {
    width: 15%;
  }

  // Amount
  th:nth-child(3),
  td:nth-child(3) {
    width: 10%;
  }

  // Paid
  th:nth-child(4),
  td:nth-child(4) {
    width: 20%;
  }

  // Category
  th:nth-child(5),
  td:nth-child(5) {
    width: 15%;
  }

  // Due Date
  th:nth-child(6),
  td:nth-child(6) {
    width: 20%;
  }

  // Date Created

  thead {
    background-color: #2c3e50;
    color: white;

    tr:first-child th {
      border-bottom: none;
      cursor: pointer;
      white-space: nowrap;

      &:hover {
        background-color: #1a242f;
      }
    }

    input,
    select {
      width: 100%;
      box-sizing: border-box;
    }
  }

  th,
  td {
    padding: 0.75rem 1rem;
    border-bottom: 1px solid #ddd;
    text-align: left;
    white-space: nowrap;
    box-sizing: border-box;
  }

  .details-btn,
  .delete-btn {
    padding: 0.3rem 0.7rem;
    border: none;
    border-radius: 4px;
    margin-right: 0.5rem;
    cursor: pointer;
    font-size: 0.85rem;
  }

  .details-btn {
    background-color: #3498db;
    color: white;
    width: 30px;
    padding: 5px;
  }

  .details-btn:hover {
    background-color: #217dbb;
  }

  .delete-btn {
    background-color: #e74c3c;
    color: white;
    width: 30px;
    padding: 5px;
  }

  .delete-btn:hover {
    background-color: #c0392b;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;

  button {
    background-color: #2c3e50;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:disabled {
      background-color: #aaa;
      cursor: not-allowed;
    }

    &:hover:not(:disabled) {
      background-color: #1a252f;
    }
  }

  span {
    font-weight: bold;
  }
}

input[type="text"],
select {
  padding: 0.4rem 0.6rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 0.9rem;
  width: 100%;
  max-width: 200px;
  transition: border-color 0.2s;

  &:focus {
    border-color: #3498db;
    outline: none;
  }
}